## Session on Introduction to Jupyter and Python

### Jupyter notebook

to know the version go to:
help > about

help() launches the interactive help directory which can give information about different functions in jupyter notebook.
to leave help section type quit

### Some Useful Keyboard shortcuts


Shift+Enter - To execute a code and go to next line
Ctrl+Enter - To execute a code

headers can be given in marksown cell using "#" in the starting.
"#" header 1, "##" header 2 and so on

F5- to run the entire Script once
F9 - To run the selected part of the script.

###Importing a library

import pandas as pd

Getting to know about Pandas
pd.(Shift+Tab)

to know the functions availaible
pd. TAB

## Declaring variables and printing in jupyter notebook

In [4]:
# variables are assignes dynamically in python i.e.we need not specify the variable types. 
# also one variable type can be reassigned to anoyher variable type easily as demontrated below

In [5]:
a=5;
type(a)

int

In [6]:
a="hello";
type(a)

str

In [7]:
#printing values
a1=2;
a2=3;
mystring= " this is my notebook"

In [8]:
print(a1, a2, mystring)

2 3  this is my notebook

In [9]:
# operators in python

In [10]:
a1==a2

False

In [11]:
a1<a2

True

In [12]:
a1+a2

5

In [13]:
# rounding off a number
round(2.0356)

2

In [14]:
#rounding off till a desired decimal points
round(2.0356,2)

2.04

In [15]:
import math

In [16]:
math.ceil(1.2)

2

In [17]:
math.floor(1.2)

1

In [18]:
pow(2,2)

4

In [19]:
# range 
num= range (1,10)

In [20]:
type(num)

range

In [22]:
for i in num :
    print (i)

1
2
3
4
5
6
7
8
9

In [24]:
len(num)

9

In [26]:
#print horizontally
for i in num :
    print (i, end = " ")

1 2 3 4 5 6 7 8 9