In [1]:
fruits = ["apple", 'banana', "Orange"]

In [2]:
fruits

['apple', 'banana', 'Orange']

In [5]:
fruits[0:2]

['apple', 'banana']

In [7]:
seasonalfruits = ["cherry","watermelon"]

In [9]:
allfruits =  fruits + seasonalfruits

In [10]:
allfruits

['apple', 'banana', 'Orange', 'cherry', 'watermelon']

In [11]:
"banana" in allfruits

True

In [12]:
allfruits.index("banana")

1

In [13]:
allfruits.append("grapes")

In [14]:
allfruits

['apple', 'banana', 'Orange', 'cherry', 'watermelon', 'grapes']

In [15]:
a = [1,1,2,5,4,7,8]

In [16]:
a.insert(3,3)

In [17]:
a

[1, 1, 2, 3, 5, 4, 7, 8]

In [19]:
a.reverse()

In [20]:
a

[8, 7, 4, 5, 3, 2, 1, 1]

In [22]:
a.sort()

In [23]:
a

[1, 1, 2, 3, 4, 5, 7, 8]

In [24]:
allfruits.sort()

In [25]:
allfruits

['Orange', 'apple', 'banana', 'cherry', 'grapes', 'watermelon']

In [26]:
allfruits.reverse()

In [27]:
allfruits

['watermelon', 'grapes', 'cherry', 'banana', 'apple', 'Orange']

## Tuple

In [28]:
tup1 = (1,3,"orange")

In [29]:
tup1

(1, 3, 'orange')

In [33]:
tup1[1]=2

TypeError: 'tuple' object does not support item assignment

In [31]:
tupa = tuple(a)

In [32]:
tupa

(1, 1, 2, 3, 4, 5, 7, 8)

### set : ordered list of non repeating elements

In [36]:
b= set([4,1,2,5,4])

In [37]:
b

{1, 2, 4, 5}

In [38]:
b.add(3)

In [39]:
b

{1, 2, 3, 4, 5}

In [40]:
c= set([2,4,6,7])

In [41]:
c

{2, 4, 6, 7}

In [42]:
c.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [43]:
b.intersection(c)

{2, 4}

In [44]:
c.difference(b)

{6, 7}

In [48]:
b.difference(c) # showswhat is present in bbut not in c

{1, 3, 5}

In [46]:
min(b)

1

In [47]:
max(b)

5

In [49]:
len(b)

5

In [50]:
b.remove(1)

In [51]:
b

{2, 3, 4, 5}

In [53]:
q =b

In [54]:
q

{2, 3, 4, 5}

In [56]:
q.clear()

In [57]:
q

set()

In [58]:
# Iteration loops
# for loop condition is in start and number of iteratons are fixed
# for while loop condition is checked in last andno. of iterations are not fixed

In [62]:
for i in a:
    print (i*2)

2
2
4
6
8
10
14
16

In [61]:
a

[1, 1, 2, 3, 4, 5, 7, 8]

In [64]:
for i in b:
    print(i)

### Dictionary

In [67]:
d1 = dict ({"One":1, "Two":2})

In [68]:
d1

{'One': 1, 'Two': 2}

In [69]:
# Join two list and create dictionary

In [70]:
names = [ "one", " two", "three", "four"]

In [71]:
values = [1,2,3,4]

In [75]:
d2 = dict (zip(names,values))

In [76]:
d2

{'one': 1, ' two': 2, 'three': 3, 'four': 4}

In [77]:
d2.keys()

dict_keys(['one', ' two', 'three', 'four'])

In [78]:
d2.values()

dict_values([1, 2, 3, 4])

In [79]:
d2["six"]=6

In [80]:
d2

{'one': 1, ' two': 2, 'three': 3, 'four': 4, 'six': 6}

In [81]:
d2.pop("six")

6

In [82]:
d2

{'one': 1, ' two': 2, 'three': 3, 'four': 4}